TestDateFormatterLocale.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate
TestDateFormatterLocale.xcodeproj/xcuserdata/Patrick.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TestDateFormatterLocale.xcodeproj/xcuserdata/Patrick.xcuserdatad/xcschemes/testDate.xcscheme
TestDateFormatterLocale.xcodeproj/xcuserdata/Patrick.xcuserdatad/xcschemes/xcschememanagement.plist
